/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navbar-brand-title {
        display: none;
    }
}


.navbar-account {
    font-size: 8px;
}

.navbar--extraMarginTop {
    margin-top: 8rem;
}